**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.cloudflare
**/*.md
**/*.ps1
**/*.sh
**/cloudflare-config.yml
**/create-credentials.ps1
**/fix-cloudflare-login.ps1
**/get-credentials.ps1
**/iniciar-aplicacao.ps1
**/liberar-porta.ps1
**/parar-tudo.ps1
**/setup-cloudflare.ps1
**/start-all.ps1
**/start-tunnel.ps1
